* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
}
.container,
.edu-container {
  width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
}
header {
  /* background-color: orangered; */
  height: 100vh; /*100% of the viewport*/
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/keyboard_with_cup_of_coffee.jpg);
  background-size: cover;
  color: #fff;
}

/*------Navigation Bar-------*/

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(red, blue); */
  /* background-color: green; */
  padding-top: 32px;
}

#username{
  font-size: 20px;
}

.navi-links {
  display: flex;
  gap: 32px;
}

.navi-link:link,
.navi-link:visited {
  text-decoration: none;
  color: #fff;
}

.navi-link:hover,
.navi-link:active {
  color: #e9ecef;
}

.header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: violet; */
}

.header-container-inner {
  width: 50%;
  /* background-color: red; */
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

p {
  font-size: 20px;
  line-height: 1.6;
}
.header-container-inner p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.navi-button {
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  /* background-color: #f08c00; */
  color: #fff;
  text-decoration: none;
  display: inline-block;

  border: none;
  cursor: pointer;
  font-family: inherit;
}

.navi-button:hover,
.navi-button:active {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: #e9ecef;
  text-decoration: none;
  display: inline-block;
}

.hero-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: #1c7ed6;
  /* background-color: #f08c00; */
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:active {
  font-size: 20px;
  font-weight: 600;
  background-color: #228be6;
  border: none;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

/*Education Section!*/

section {
  padding: 96px 0;
}
.edu-container {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

h2 {
  font-size: 44px;
  margin-bottom: 44px;
  grid-column: 1 / -1;
  color: #1c7ed6;
}

.edu-item {
  display: flex;
  gap: 44px;
  align-items: center;
  /* justify-content: center; */
}
.edu-item img {
  height: 80px;
}

.edu-row-1 {
  /* font-size: ; */
  font-size: 24px;
  margin-bottom: 20px;
}
.edu-row-2 {
  font-size: 18px;
}

.img-container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.img-container img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-logo {
  transform: scale(1.5);
}

/*-------Professional Experiences------*/
.prof-text {
  margin-bottom: 88px;
}
.exp-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.exp-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 24px;
  column-gap: 32px;
  row-gap: 32px;
  align-items: center;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date {
  font-size: 24px;
  font-weight: 500;
}

.position strong {
  font-size: 24px;
}

.position,
.date {
  font-size: 18px;
  color: #495057;
}

.hidden-box {
  display: none;
}

.open svg.icon {
  stroke: #1c7ed6;
  fill: #1c7ed6;
}

.open {
  border-top: 4px solid #1c7ed6;
}

.open .hidden-box {
  display: block;
}

.open .position,
.open .date {
  color: #1c7ed6;
}

.open svg.icon {
  transform: rotate(180deg);
}
/*--------Contact Form----------*/
.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-image: linear-gradient(to right bottom, #1970c29e, #4dabf7c9);
  border-radius: 12px;
  overflow: hidden;
  color: #0b3256;
  /**/
  /* height: 500px; */
}

.contact-img-box {
  background-image: linear-gradient(
      to right,
      rgba(25, 112, 194, 0.566),
      rgba(77, 171, 247, 0.508)
    ),
    url(../images/florian-klauer-mk7D-4UCfmg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.contact-text {
  padding: 56px;
}

.contact-text h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.contact-text p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 48px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
}

.contact-message {
  grid-column: 1 / -1;
}

.btn-form {
  grid-column: 1 / -1;
}

.contact-form label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 12px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-family: inherit;
  background-color: #e7f5ff;
  border-radius: 9px;
  border: solid 1px #339af0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder {
  color: #b8b6b6;
}
.contact-form select {
  width: 100%;
  padding: 12px;
  font-family: inherit;
}

.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-family: inherit;
}
/*--------Footer----------*/

.footer-container {
  padding: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-logos a {
  display: inline-block;
}

.footer-logos a svg {
  fill: #339af0;
}

footer p {
  color: #339af0;
}
.footer-logos {
  display: flex;
  gap: 12px;
}
